<h1>あなたの正解率</h1>
<p><%= number_to_percentage @corr_num.to_f/@prob_cnt.to_f * 100, precision: 0 %></p>

<% if !(@prob_typ.to_i == -1) || (@prob_type.to_i == -1 && !(@corr_num == @prob_cnt)) %>
    <%= link_to 'もう一度挑戦', problems_start_path(@prob_typ), method: :get %>
<% end %>
<%= link_to 'HOMEへ戻る', home_path %>