<h2>単語帳</h2>
<ul>
  <li>初めからスタート</li>
  <li>続きからスタート</li>
</ul>
<h2>選択問題</h2>
<ul>
  <li>ランダム問題10問スタート</li>
  <li>ランダム問題20問スタート</li>
  <li>ランダム問題50問スタート</li>
  <li>全問スタート</li>
  <li>間違えた問題のみスタート</li>
</ul>
