<h2>単語帳</h2>
<ul>
  <li><%= link_to '初めからスタート', controller: "vocab_books", action: "show_vocabook", show_id: "first" %></li>
  <li><%= link_to '続きからスタート', controller: "vocab_books", action: "show_vocabook", show_id: "last" %></li>

</ul>
<h2>選択問題</h2>
<ul>
  <li>ランダム問題10問スタート</li>
  <li>ランダム問題20問スタート</li>
  <li>ランダム問題50問スタート</li>
  <li>全問スタート</li>
  <li>間違えた問題のみスタート</li>
</ul>
